body {
    font-family: Arial;
    background: #450101;
    color: white;
    text-align: center;
}

form {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
}

button {
    background: #3b82f6;
    color: white;
    border: none;
}

table {
    margin: auto;
    background: white;
    color: black;
}